{% extends "plantillaBase.html" %}
{% block title %} Carreras {%endblock%}

{%block content%}
<h1>Elija su carrera:</h1>
<p>(Sólo campus San Joaquín de momento)</p>
<ul>
    <li><a href="" class="index_text">Arquitectura</a></li>
    <li><a href="" class="index_text">Ingeniería Civil</a></li>
    <li><a href="" class="index_text">Ingeniería Civil en Minas</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Eléctrica</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Física</a></li>
    <li><a href="IngenieriaCivilInformatica.html" class="index_text">Ingeniería Civil Informática</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Matemática</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Mecánica</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Plan Común</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Química</a></li>
    <li><a href="" class="index_text">Ingeniería Civil Telemática</a></li>
    <li><a href="" class="index_text">Ingeniería en Diseño de Productos</a></li>
    <li><a href="" class="index_text">Licenciatura en Física</a></li>
    <li><a href="" class="index_text">Licenciatura en Astrofísica </a></li>
</ul>
{%endblock%}

