{% extends "plantillaBase.html" %}
{%block title%} Ing. Civil Elec. {%endblock%}
{%block content%}
<details> <!-- Semestre I -->
    <summary> Semestre I </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre II -->
    <summary> Semestre II </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre III -->
    <summary> Semestre III </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre IV -->
    <summary> Semestre IV </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre V -->
    <summary> Semestre V </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre VI -->
    <summary> Semestre VI </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre VII -->
    <summary> Semestre VII </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre VIII -->
    <summary> Semestre VIII </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre IX -->
    <summary> Semestre IX </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre X -->
    <summary> Semestre X </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>
<details> <!-- Semestre XI -->
    <summary> Semestre XI </summary>
        <ul>
            <li><a href=""></a></li>
        </ul>
</details>

{%endblock%}