{% extends "plantillaBase.html" %}
{%block title%} Ing. Civil Inf. {%endblock%}
{%block content%}
<div class="wrapper">
    <section class="details-group">
      <details class="details">
        <summary class="details__summary"> Semestre I </summary>
        <div class="details__content">
          <ul>
            <li><a href="iwi131.html">Programación</a></li>
            <li><a href="mat021.html">Mate I</a></li>
            <li><a href="fis100.html">Intro. a Fis.</a></li>
            <li><a href="hrw130.html">Ética y argumentación Crítica</a></li>
          </ul>
        </div>
      </details>
        <details class="details">
            <summary class="details__summary"> Semestre II </summary>
            <div class="details__content">
              <ul>
                <li><a href="">Química y sociedad</a></li>
                <li><a href="">Mate II</a></li>
                <li><a href="">Física I</a></li>
                <li><a href="">Intro. a Ing.</a></li>
                <li><a href="">Sociedad y política</a></li>
                <li><a href="">Ed. Física II</a></li>
              </ul>
            </div>
        </details>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre III </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Estructuras de Datos</a></li>
            <li><a href="">Mate III</a></li>
            <li><a href="">Física III</a></li>
            <li><a href="">Estructuras Discretas</a></li>
            <li><a href="">Teoría de Sistemas</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre IV </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Lenguajes de Programación</a></li>
            <li><a href="">Mate IV</a></li>
            <li><a href="">Física II</a></li>
            <li><a href="">Informática Teórica</a></li>
            <li><a href="">Economía IA</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre V </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Bases de Datos</a></li>
            <li><a href="">Arq. y org. de Computadores</a></li>
            <li><a href="">Física IV</a></li>
            <li><a href="">Estadística Computacional</a></li>
            <li><a href="">Org. y Sistemas de Información</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre VI </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Análisis y Diseño de Software</a></li>
            <li><a href="">Sistemas Operativos</a></li>
            <li><a href="">Ing, Informática y Sociedad</a></li>
            <li><a href="">Algoritmos y Complejidad</a></li>
            <li><a href="">Optimización</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre VII </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Ingeniería de Software</a></li>
            <li><a href="">Redes de Computadores</a></li>
            <li><a href="">Inf. y Matemáticas Financieras</a></li>
            <li><a href="">Computación Científica</a></li>
            <li><a href="">Investigación de Operaciones</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre VIII </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Diseño Intefaces Usuarias</a></li>
            <li><a href="">Sistemas Distribuidos</a></li>
            <li><a href="">Electivo Informática I</a></li>
            <li><a href="">Inteligencia Artificial</a></li>
            <li><a href="">Sistemas de Gestión</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre IX </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Electivo Informática II</a></li>
            <li><a href="">Electivo Informática III</a></li>
            <li><a href="">Electivo I</a></li>
            <li><a href="">Electivo II</a></li>
            <li><a href="">Gestión de Proyectos de Inf.</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre X </summary>
        <div class="details__content">
          <ul>
            <li><a href="">Electivo Informática IV</a></li>
            <li><a href="">Electivo III</a></li>
            <li><a href="">Electivo IV</a></li>
            <li><a href="">Taller Desarrollo Proyecto de Inf.</a></li>
            <li><a href="">Trabajo de Título I</a></li>
          </ul>
        </div>
    </details>
    <details class="details">
        <summary class="details__summary"> Semestre XI </summary>
        <div class="details__content">
            <li><a href="">Trabajo de Título II</a></li>
          </ul>
        </div>
    </details>
 </section>
</div>

{%endblock%}