{% extends "plantillaBase.html" %}
{% block title %} Mat021 {%endblock%}

{%block content%}
<h2>Certamenes:</h2>
<ul>
<li> <a class="link" href="Certamen1-2014-1.pdf">Certamen 1 2014-01</a></li>
<li> <a class="link" href="Certamen1-2014-2.pdf">Certamen 1 2014-02</a></li>
<li> <a class="link" href="Certamen1-2015-1.pdf">Certamen 1 2015-01</a></li>
<li> <a class="link" href="Certamen2-2015-2.pdf">Certamen 2 2015-02</a></li>
<li> <a class="link" href="Certamen3-2014-2.pdf">Certamen 3 2014-02</a></li>
<li> <a class="link" href="CertamenGlobalMat021.pdf">Certamen Global </a></li>
<li> <a class="link" href="Notas Semestrales.pdf">Notas Semestrales (Úsese para ver estadísicas)</a></li>
</ul>

<h2>Controles:</h2>
<ul>
<li> <a class="link" href="Control1-2015-1.pdf">Control 1 2015-1.pdf</a></li>
</ul>

<h2>Guías y talleres:</h2>
<ul>
<li><a class="link" href="Ejercicios de Inducción.pdf">Ejercicios de Inducción</a></li>
<li><a class="link" href="Guía de Sumatorias y Progresiones.pdf">Guía sumatorias y progresiones</a></li>   
<li><a class="link" href="PautaTallerC2-1.pdf">Pauta Taller Certamen 2</a></li>   
<li><a class="link" href="Taller 1 Dasarrollado.pdf">Taller 1 Desarrollado</a></li>   
<li><a class="link" href="Taller 2 Desarrollado.pdf">Taller 2 Desarrollado</a></li>   

</ul>
{%endblock%}
