{% extends "plantillaBase.html" %}
{% load static %}
{% block title %} Foro {%endblock%}
<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataFlair discussion forum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <style>
        .box{
            border: 4px solid black;
            margin: 0 auto;
        }
    </style>
</head>
<body>
        <h2 class="jumbotron">
            Foros actualmente activos: {{count}}
            <form method="POST" action="{% url 'addInForum' %}">
                {% csrf_token %}
            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Añadir Tema</button>
            </form>
        </h2>
            <div class="card-columns" style="padding: 10px; margin: 20px;"></div>            
            {%for forum in forums %}
            
                <div class="card box container">
                    <br>
                    <h5 class="card-title">
                        <h3>{{forum.topic}}</h3> 
                        <div class="card-body container">
                                <img src="{{forum.header_image.url}}"></img>
                                <br>
                                <p>{{forum.description}}</p>
                                <br><hr>
                                <p>Links:</p><a href='{{forum.link}}' target="_blank"></a>
                                <br><hr>
                                <p id="votes">0</p>
                                <button id="upvote" onclick="upvote()">Me gusta</button>
                                <button id="downvote" onclick="downvote()">No me gusta</button>
                                <script src="{% static './JavaScript/semestres.js' %}" type="application/javascript"></script>
                            </h5>
                            <hr>
                            <p> Por: {{forum.name}}</p>
                            E-mail: {{forum.email}}
                            <hr>     
                            <h4>Opiniones y aportes de otros usuarios:</h4>
                            {%for discuss in discussions%}
                            {%for objs in discuss%}  
                            {% if objs.forum == forum %}
                               -{{user.username}}: {{objs.discuss}}
                               <img src="{{forum.header_image2.url}}"></img>
                               <br>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                            <form method="POST" action="{% url 'addInDiscussion' %}">
                                {% csrf_token %}
                            <button class="btn btn-success" style="width:fit-content; padding: 4px; margin:10px;">Añadir opinión</button>
                            </form>
                        </div>
                </div>
            </div>
            <br>
            
            {%endfor%}
          
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
{%endblock%}