{% extends "plantillaBase.html" %}
{% block title %} Ramos {%endblock%}

{%block content%}
<h1>Elija su ramo:</h1>
<h2>Matemáticas</h2>
<ul>
    <li> <a href="mat021.html"> Mate I </a></li>
    <li> <a href=""> Mate II </a></li>
    <li> <a href=""> Mate III </a></li>
    <li> <a href=""> Mate IV </a></li>
</ul>
<h2>Físicas</h2>
<ul>
    <li> <a href="fis100.html"> Intro. a Física </a></li>
    <li> <a href=""> Física I </a> </li>
    <li> <a href=""> Física II </a></li>
    <li> <a href=""> Física III </a></li>
    <li> <a href=""> Física IV </a></li>
</ul>
<h2>Bachiller</h2>
<ul>
    <li> <a href="iwi131.html"> Programación </a></li>
    <li> <a href=""> Química </a></li>
</ul>
<h2>Humanistas</h2>
<ul>
    <li> <a href="hrw130.html"> Ética </a></li>
    <li> <a href=""> Sociedad y política </a></li>
</ul>
{%endblock%}